# Database
DATABASE_URL=postgresql+asyncpg://
POSTGRES_USER=spotify_user
POSTGRES_PASSWORD=<strong_password>
POSTGRES_DB=spotify_playlist_db
# JWT
JWT_SECRET=your-super-secret-key-change-in-production

# Spotify API
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LASTFM_KEY=
LASTFM_SHARED=
# App
SPOTIFY_REDIRECT_URI=https://spotifycollab.duckdns.org/api/spotify/callback
CORS_ORIGINS=
ENCRYPTION_KEY=
#
DEBUG=true
ENVIRONMENT=development
